@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karantina', cursive;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

$sweetOrange: #e03f31;
$sweetGray: #ccc;
$bitterGray: #131515;

.displayNone {
    display: none;
}

.btn-primary {
    background-color: $sweetOrange;
    font-size: 2.5rem;
    color: white;
    padding: 0 1rem;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 95%;
        background-color: $sweetOrange;
    }

    &:active {
        opacity: 100%;
        background-color: #c4372b;
    }

    &:focus {
        background-color: $sweetOrange;
    }
}

.btn-secondary {
    background-color: gray;
    font-size: 2.5rem;
    color: white;
    padding: 0 1rem;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 95%;
        background-color: gray;
    }

    &:active {
        opacity: 100%;
        background-color: rgb(104, 103, 103);
    }

    &:focus {
        background-color: gray;
    }
}

.btn-tertiary {
    background-color: black;
    font-size: 2.5rem;
    border: white solid 1px;
    color: white;
    padding: 0 1rem;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 95%;
        background-color: rgb(24, 24, 24);
    }

    &:active {
        opacity: 100%;
        background-color: rgb(24, 24, 24);
    }

    &:focus {
        background-color: rgb(24, 24, 24);
    }
}
