@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karantina', cursive;
}

$sweetOrange: #e03f31;
$sweetGray: #ccc;
$bitterGray: #131515;
