.item-card {
    background-color: white;
    width: 15rem;
    margin: 1rem;
    border: solid $sweetGray 1px;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;

    .card-img {
        z-index: -10;
        width: 14.5rem;
        padding: .5rem;
        transition: .5s;

        &:hover {
            transform: scale(1.05)
        }
    }
     .card-body{
         text-align: center;
         margin-bottom: 1rem;

        .card-title{
            font-size: 1.6rem;

        }

        .card-price {
            font-size: 2rem;
        }

        .notWished {
            color: black;
            font-size: 1.5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: .25s;
            color: black;

            &:hover {
                color: $sweetOrange;
            }

            &:active {
                font-size: 1.75rem;
            }
        }

        .wished {
            color: $sweetOrange;
            font-size: 1.5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: .25s;

            &:active {
                font-size: 1.75rem;
            }
        }
    }

}