.item-card {
    background-color: white;
    width: 15rem;
    height: 22rem;
    margin: 1rem;
    border: solid $sweetGray 1px;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);

    .card-header {
        border: none;
        padding-top: .5rem;
        position: relative;
        z-index: 1;
        display: flex;
            align-items: center;

        .brand-icon {
            width: 2rem;
            position: absolute;
            left: 1rem;
            top: 1rem;
        }

        .LatestOrSale-icon {
            background-color: $sweetOrange;
            color: white;
            font-size: 1.25rem;
            width: 5rem;
            height: 2rem;
            position: absolute;
            right: 4.75rem;
            top: .75rem;
            display: flex;
                justify-content: center;
                align-items: center;
            
            p {
                margin: auto;
            }
        }

        .notWished {
            color: black;
            font-size: 1.5rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
            transition: .25s;
            color: black;

            &:hover {
                color: $sweetOrange;
            }

            &:active {
                font-size: 1.75rem;
            }
        }

        .wished {
            color: $sweetOrange;
            font-size: 1.5rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
            transition: .25s;

            &:active {
                font-size: 1.75rem;
            }
        }
    }

    .card-img {
        width: 14.5rem;
        padding: 2rem .5rem 0 .5rem;
        transition: .5s;
        border: none;

        &:hover {
            transform: scale(1.05)
        }
    }
     .card-footer{
         border: none;
         text-align: center;

        .card-title{
            font-size: 2rem;
            color: black;
            margin: 0;
        }

        .card-price {
            font-size: 2rem;
            color: black;
            margin-top: -.5rem;

            .noDiscountPrice {
                text-decoration:line-through;
                color: gray;
                margin-right: .5rem;
                font-size: 1.75rem;
            }

            .discountPercentage {
                margin-left: .5rem;
                font-size: 1.75rem;
                color: $sweetOrange;
            }
        }
    }

}