.itemPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item-section_carouselAndInfo{
        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-img {
            width: 20rem;
            margin: 0 2rem 0 0;
        }

        .item-info {
            font-size: 2rem;
            margin: 0 0 0 2rem;

            h2 {
                margin-bottom: 2rem;
            }

            button {
                margin: 2rem 1rem 0 0;
                font-size: 2rem;
                width: 10rem;
            }
        }
    }

    .item-description {
        p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        max-width: 50rem;
        margin: 2rem 0;
        }
    }
}