.wishlist, .shoppingCart {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4rem;
            margin-top: 1rem;
        }

        .wishlist-item, .shoppingCart-item {
            width: 60rem;
            position: relative;
            margin: .5rem 0;
            padding: .5rem 2rem;
            border-bottom: #ccc solid 1px;
            color: black;
            display: flex;
                justify-content: space-between;
                align-items: flex-end;

            img {
                width: 8rem;
                border-radius: 1rem;
            }

            p {
                font-size: 2.5rem;
                padding-bottom: 1rem;
            }

            .icon {
                font-size: 2.25rem;
                margin-bottom: 2.5rem;
                cursor: pointer;
                color: black;
                transition: .5s;

                &:hover {
                    color: $sweetOrange;
                }
            }

            .item-name {
                position: absolute;
                left: 15rem;
            }

            .item-price {
                position: absolute;
                left: 35rem;
            }

            .buy-icon {
                position: absolute;
                right: 11rem;
                bottom: .5rem;
            }
        }

        .details {
            margin-top: 2rem;
            font-size: 3rem;
            display: flex;
            p {
                margin: 0 2rem;
            }
        }

        .btns {
            font-size: 2.5rem;
            margin: 1rem 0 4rem 0;
            display: flex;
                justify-content: center;
                align-items: center;

                .btn-tertiary, .btn-secondary, .btn-primary {
                    margin: 0 1rem;
                }
        }
}

.lightMode {
    .wishlist, .shoppingCart {
        background-color: white;
        color: black;
    }

    .wishlist-item, .shoppingCart-item {
        transition: .5s;
        background-color: white;
    }
}

.darkMode {
    .wishlist, .shoppingCart {
        background-color: $bitterGray;
        color: white;
    }
    .wishlist-item, .shoppingCart-item {
        transition: .5s;
        background-color: #ccc;
    }
}