.itemPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item-section_carouselAndInfo{
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .item-carousel {
            width: 31rem;
            
            .carousel-img {
                width: 30rem;
                margin: auto;
            }

            .carousel-indicators {
                button {
                    border-radius: 50%;
                    height: .5rem;
                    width: .5rem;
                }
            }
        }

        .item-info {
            font-size: 2rem;
            margin: 0 0 0 2rem;

            h2 {
                margin-bottom: 2rem;
                font-size: 5rem;
            }

            button {
                margin: 2rem 1rem 1rem 0;
                font-size: 2rem;
                width: 16rem;
            }

            .btn-secondary {
                display: block;
                margin: 0;
                width: 20rem;
            }

            .notWished {
                cursor: pointer;
                font-size: 2.5rem;
                transition: .25s;
    
                &:hover {
                    color: $sweetOrange;
                }
    
                &:active {
                    font-size: 3rem;
                }
            }
    
            .wished {
                cursor: pointer;
                color: $sweetOrange;
                font-size: 2.5rem;
                transition: .25s;
    
                &:active {
                    font-size: 3rem;
                }
            }
            
            .quantityContainer {
                display: flex;

                .operator {
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 2.25rem;
                    margin: .5rem .5rem 0 .5rem;
                    border-radius: .5rem;
                    background-color: #ccc;
                    color: black;
                    text-align: center;
                    cursor: pointer;
                    transition: .5s;

                    &:hover  {
                        background-color: $sweetOrange;
                        color: white;
                    }

                    &:active {
                        transform: scale(1.15)
                    }
                }

                .selectedQuantity {
                    margin: 0 .5rem;
                }
            }
            
            .sizesContainer{
                display: flex;
                align-items: center;
                .availableSizes {
                    display: flex;
                    margin-left: 1rem;
                    .size {
                        font-size: 1.75rem;
                        text-align: center;
                        width: 2rem;
                        height: 2.5rem;
                        margin: 0 .25rem 1rem .25rem;
                        padding: 0 .5rem;
                        background-color: #ccc;
                        color: black;
                        cursor: pointer;
                        transition: .5s;

                        &.selectedSize, &:hover  {
                            background-color: $sweetOrange;
                            color: white;
                        }

                        &:active {
                            transform: scale(1.15)
                        }
                    }
                }
            }

            .errorMessage {
                background-color: $sweetOrange;
                color: white;
                padding: 0 1rem;
            }
        }
    }

    .item-description {
        p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        max-width: 50rem;
        margin: 2rem 0;
        }
    }
}

.lightMode {
    .itemPage {
        background-color: white;

        .notWished {
            color: black;
        }
    }
}

.darkMode {
    .itemPage {
        background-color: $bitterGray;
        color: white;

        .notWished {
            color: white;
        }
    }
}