.checkout {
    h1 {
        text-align: center;
        padding-top: 1rem;
    }
    .containersContainer{
    display: flex;

        .showShoppingContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .shoppingCart-item {
                width: 70rem;
                position: relative;
                margin: .5rem auto;
                padding: .25rem 2rem;
                border-bottom: #ccc solid 1px;
                max-width: 50rem;
                color: black;
                display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
            
                img {
                    width: 8rem;
                    border-radius: 1rem;
                }
            
                p {
                    font-size: 2rem;
                    padding-bottom: 1.25rem;
                }
            
                .icon {
                    display: none;
                }
            
                .item-name {
                    position: absolute;
                    left: 13rem;
                }
            
                .item-price {
                    position: absolute;
                    left: 30rem;
                }
            
                .item-quantity{
                    position: absolute;
                    left: 36rem;
                }
            
                .item-size{
                    position: absolute;
                    left: 43rem;
                }
            
                .buy-icon {
                    display: none;
                }
            }
        }

        .checkoutFormContainer {
            position: relative;
            width: 50%;

            .checkoutForm {
                background-color: black;
                color: white;
                width: 35rem;
                margin: 2rem auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    text-align: center;
                    margin: 2rem 0;
                }

                .formInput {
                    font-size: 1.75rem;
                    width: 20rem;
                    display: flex;
                    flex-direction: column;

                    .textBox {
                        text-align: center;
                    }
                }
                
                .btn-container {
                    display: flex;
                    margin: 2rem 0;

                    button {
                        margin: 0 1rem;
                        width: 8rem;
                    }
                }

                select {
                    font-size: 1rem;
                    height: 3rem;
                }

                h2 {
                    margin: 1rem auto;
                    text-align: center;
                    width: 18rem;
                }

                .shippingDetails, .paymentDetails, .confirmationDetails {
                    background-color: #ccc;
                    color: black;
                    width: 18rem;
                    font-size: 1.5rem;
                    display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        p {
                            margin: 0;
                            padding: 1rem 0;
                        }
                }

                .expirationDate-securityCode {
                    display: flex;
                    justify-content: space-between !important;
                    align-items: center !important;

                    .formInput {
                        width: 6rem;
                        margin: 0 .5rem;
                    }
                }

                .errorDisplay {
                    font-size: 3rem;
                    color: $sweetOrange;
                    margin-top: -2rem;
                }
            }

            .confirmationStep {
                background-color: #ccc;
                color: black;

                h1 {
                    margin: 2rem 0 0 0;
                }

                h2 {
                    margin: 1rem 0 0 0;
                    text-align: left;
                    width: 20rem;
                }

                p {
                    font-size: 1.75rem;
                }

                .confirmationDetails{
                    background-color: white;
                    display: block;
                    border: black solid 2px;
                    width: 22rem;

                    p {
                        padding: 0 0 0 1rem;
                    }
                }
            }

            .processingPaymentStep {
                height: 20rem;

                h1 {
                    position: absolute;
                    top: 1rem;
                }
                
                  .loader {
                    position: relative;
                    top: 1rem;
                    display: inline-block;
                    width: 398px;
                    height: 122px;
                    vertical-align: middle;
                    animation: main-flip 2.5s step-end 3, main-filter 4.15s step-end forwards, main-color 0.9s linear 4.15s both, main-tick 0.6s ease-in-out 4.35s forwards;
                  }

                  .loader::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 37px;
                    margin: -18.5px 0 0;
                    background: radial-gradient(circle, currentColor, currentColor 18.5px, transparent 18.5px, transparent 26.5px) 100% 0 /53px 37px repeat-x;
                    border-radius: 12px;
                    transform-origin: 6px 6px;
                    animation: three-dots 0.625s cubic-bezier(0, 0, 0.2, 1) 6 alternate, dot-to-line-helper 0.3s ease-in-out 4.05s forwards, tick-short 0.6s ease-in-out 4.35s forwards;
                  }
                  
                  .loader::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 62px;
                    height: 62px;
                    border-radius: 50%;
                    background-color: currentColor;
                    transform: translate(-50%, -50%);
                    animation: dot-bouncy-scale 1.25s ease-in 3, dot-scale-large 0.4s ease-out 3.65s, dot-to-line 0.3s ease-in-out 4.05s forwards, tick-long 0.6s ease-in-out 4.35s forwards;
                  }
                  @-moz-keyframes body-color {
                    0% { background-color: #e3e6f6; }
                    30% { background-color: #eae4e7; }
                    100% { background-color: #f0f6f3; }
                  }
                  @-webkit-keyframes body-color {
                    0% { background-color: #e3e6f6; }
                    30% { background-color: #eae4e7; }
                    100% { background-color: #f0f6f3; }
                  }
                  @-o-keyframes body-color {
                    0% { background-color: #e3e6f6; }
                    30% { background-color: #eae4e7; }
                    100% { background-color: #f0f6f3; }
                  }
                  @keyframes body-color {
                    0% { background-color: #e3e6f6; }
                    30% { background-color: #eae4e7; }
                    100% { background-color: #f0f6f3; }
                  }
                  @-moz-keyframes main-filter {
                    0% { -webkit-filter: url("#goo");
                      filter: url("#goo"); }
                    100% { -webkit-filter: none;
                      filter: none; }
                  }
                  @-webkit-keyframes main-filter {
                    0% { -webkit-filter: url("#goo");
                      filter: url("#goo"); }
                    100% { -webkit-filter: none;
                      filter: none; }
                  }
                  @-o-keyframes main-filter {
                    0% { -webkit-filter: url("#goo");
                      filter: url("#goo"); }
                    100% { -webkit-filter: none;
                      filter: none; }
                  }
                  @keyframes main-filter {
                    0% { -webkit-filter: url("#goo");
                      filter: url("#goo"); }
                    100% { -webkit-filter: none;
                      filter: none; }
                  }
                  @-moz-keyframes main-flip {
                    0%, 100% { transform: rotate(0deg); }
                    50% { transform: rotate(180deg); }
                  }
                  @-webkit-keyframes main-flip {
                    0%, 100% { transform: rotate(0deg); }
                    50% { transform: rotate(180deg); }
                  }
                  @-o-keyframes main-flip {
                    0%, 100% { transform: rotate(0deg); }
                    50% { transform: rotate(180deg); }
                  }
                  @keyframes main-flip {
                    0%, 100% { transform: rotate(0deg); }
                    50% { transform: rotate(180deg); }
                  }
                  @-moz-keyframes main-color {
                    0% { color: $sweetOrange; }
                    30% { color: white; }
                    100% { color: $sweetOrange; }
                  }
                  @-webkit-keyframes main-color {
                    0% { color: $sweetOrange; }
                    30% { color: white; }
                    100% { color: $sweetOrange; }
                  }
                  @-o-keyframes main-color {
                    0% { color: $sweetOrange; }
                    30% { color: white; }
                    100% { color: $sweetOrange; }
                  }
                  @keyframes main-color {
                    0% { color: $sweetOrange; }
                    30% { color: white; }
                    100% { color: $sweetOrange; }
                  }
                  @-moz-keyframes three-dots {
                    0%, 10% {width: 40px;}
                    100% {width: 199px;}
                  }
                  @-webkit-keyframes three-dots {
                    0%, 10% {width: 40px;
                    }
                    100% {width: 199px;}
                  }
                  @-o-keyframes three-dots {
                    0%, 10% {width: 40px;}
                    100% {width: 199px;}
                  }
                  @keyframes three-dots {
                    0%, 10% {width: 40px;}
                    100% {width: 199px;}
                  }
                  @-moz-keyframes dot-bouncy-scale {
                    0%, 6%, 92%, 100% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    18%, 27%, 77% {transform: translate(-50%, -50%) scale(1);}
                    24% {transform: translate(-50%, -50%) scale(1.08);}
                  }
                  @-webkit-keyframes dot-bouncy-scale {
                    0%, 6%, 92%, 100% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    18%, 27%, 77% {transform: translate(-50%, -50%) scale(1);}
                    24% {transform: translate(-50%, -50%) scale(1.08);}
                  }
                  @-o-keyframes dot-bouncy-scale {
                    0%, 6%, 92%, 100% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    18%, 27%, 77% {transform: translate(-50%, -50%) scale(1);}
                    24% {transform: translate(-50%, -50%) scale(1.08);}
                  }
                  @keyframes dot-bouncy-scale {
                    0%, 6%, 92%, 100% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    18%, 27%, 77% {transform: translate(-50%, -50%) scale(1);}
                    24% {transform: translate(-50%, -50%) scale(1.08);}
                  }
                  @-moz-keyframes dot-scale-large {
                    0% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    90%, 100% {transform: translate(-50%, -50%) scale(1.967741935483871);}
                  }
                  @-webkit-keyframes dot-scale-large {
                    0% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    90%, 100% {transform: translate(-50%, -50%) scale(1.967741935483871);}
                  }
                  @-o-keyframes dot-scale-large {
                    0% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    90%, 100% {transform: translate(-50%, -50%) scale(1.967741935483871);}
                  }
                  @keyframes dot-scale-large {
                    0% {transform: translate(-50%, -50%) scale(1.290322580645161);}
                    90%, 100% {transform: translate(-50%, -50%) scale(1.967741935483871);}
                  }
                  @-moz-keyframes dot-to-line {
                    0% {
                      width: 122px;
                      height: 122px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                    }
                  }
                  @-webkit-keyframes dot-to-line {
                    0% {
                      width: 122px;
                      height: 122px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                    }
                  }
                  @-o-keyframes dot-to-line {
                    0% {
                      width: 122px;
                      height: 122px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                    }
                  }
                  @keyframes dot-to-line {
                    0% {
                      width: 122px;
                      height: 122px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                    }
                  }
                  @-moz-keyframes dot-to-line-helper {
                    0% {
                      width: 55px;
                      height: 12px;
                      margin: -6px 0 0 0;
                      box-shadow: inset 0 0 0 6px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                      margin: -6px 0 0 -110px;
                      box-shadow: inset 0 0 0 6px;
                    }
                  }
                  @-webkit-keyframes dot-to-line-helper {
                    0% {
                      width: 55px;
                      height: 12px;
                      margin: -6px 0 0 0;
                      box-shadow: inset 0 0 0 6px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                      margin: -6px 0 0 -110px;
                      box-shadow: inset 0 0 0 6px;
                    }
                  }
                  @-o-keyframes dot-to-line-helper {
                    0% {
                      width: 55px;
                      height: 12px;
                      margin: -6px 0 0 0;
                      box-shadow: inset 0 0 0 6px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                      margin: -6px 0 0 -110px;
                      box-shadow: inset 0 0 0 6px;
                    }
                  }
                  @keyframes dot-to-line-helper {
                    0% {
                      width: 55px;
                      height: 12px;
                      margin: -6px 0 0 0;
                      box-shadow: inset 0 0 0 6px;
                    }
                    100% {
                      width: 220px;
                      height: 12px;
                      margin: -6px 0 0 -110px;
                      box-shadow: inset 0 0 0 6px;
                    }
                  }
                  @-moz-keyframes main-tick {
                    0% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 0);
                    }
                    100% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 26px);
                    }
                  }
                  @-webkit-keyframes main-tick {
                    0% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 0);
                    }
                    100% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 26px);
                    }
                  }
                  @-o-keyframes main-tick {
                    0% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 0);
                    }
                    100% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 26px);
                    }
                  }
                  @keyframes main-tick {
                    0% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 0);
                    }
                    100% {
                      width: 0;
                      height: 0;
                      transform: translate(-16px, 26px);
                    }
                  }
                  @-moz-keyframes tick-short {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 100px;
                      margin: 0;
                      transform: rotate(-180deg);
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 70px;
                      margin: 0;
                      transform: rotate(-137deg);
                    }
                  }
                  @-webkit-keyframes tick-short {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 100px;
                      margin: 0;
                      transform: rotate(-180deg);
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 70px;
                      margin: 0;
                      transform: rotate(-137deg);
                    }
                  }
                  @-o-keyframes tick-short {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 100px;
                      margin: 0;
                      transform: rotate(-180deg);
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 70px;
                      margin: 0;
                      transform: rotate(-137deg);
                    }
                  }
                  @keyframes tick-short {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 100px;
                      margin: 0;
                      transform: rotate(-180deg);
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 70px;
                      margin: 0;
                      transform: rotate(-137deg);
                    }
                  }
                  @-moz-keyframes tick-long {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 132px;
                      transform: rotate(0deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 120px;
                      transform: rotate(-43deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                  }
                  @-webkit-keyframes tick-long {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 132px;
                      transform: rotate(0deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 120px;
                      transform: rotate(-43deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                  }
                  @-o-keyframes tick-long {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 132px;
                      transform: rotate(0deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 120px;
                      transform: rotate(-43deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                  }
                  @keyframes tick-long {
                    0% {
                      top: -6px;
                      left: -6px;
                      width: 132px;
                      transform: rotate(0deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                    100% {
                      top: -6px;
                      left: -6px;
                      width: 120px;
                      transform: rotate(-43deg);
                      transform-origin: 6px 6px;
                      border-radius: 12px;
                    }
                  }
            }

            .completionStep {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
}

.lightMode {
    .checkout {
        background-color: white;
        color: black;
    }

    .shoppingCart-item {
        transition: .5s;
        background-color: white;
    }
}

.darkMode {
    .checkout {
        background-color: $bitterGray;
        color: white;
    }
    .shoppingCart-item {
        transition: .5s;
        background-color: #ccc;
    }
}